<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Guad - Document Details</title>
</head>
<body>

<main class="main-content">
    <h1>Document Details</h1>

    <dl class="detail-list">
        <dt>Id</dt>
        <dd th:text="${document.id()}"></dd>
        <dt>Name</dt>
        <dd th:text="${document.name()}"></dd>
        <dt>Content</dt>
        <dd th:text="${document.content()}"></dd>
    </dl>

    <div th:replace="~{admin/fragments/attachments :: attachment-grid(${document.attachments()})}"></div>
</main>

</body>
</html>
