<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
  <title>Guad - Document Details</title>
</head>
<body>

<main>
  <h1>Document Details</h1>

  <ul>
    <li>Id: <span th:text="${document.id()}"></span></li>
    <li>Name: <span th:text="${document.name()}"></span></li>
    <li>Content: <span th:text="${document.content()}"></span></li>
  </ul>

  <div th:replace="~{admin/fragments/attachments :: attachment-grid(${document.attachments()})}"></div>
</main>

</body>
</html>

