<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Guad - Area Details</title>
</head>
<body>

<main class="main-content">
    <h1>Area Details</h1>

    <dl class="detail-list">
        <dt>Id</dt>
        <dd th:text="${area.id()}"></dd>
        <dt>Name</dt>
        <dd th:text="${area.name()}"></dd>
        <dt>Description</dt>
        <dd th:text="${area.description()}"></dd>
        <dt>Order</dt>
        <dd th:text="${area.order()}"></dd>
    </dl>
</main>

</body>
</html>
