<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Guad - Login</title>
</head>
<body>
<main class="container">

    <hgroup class="text-center">
        <h1>Guad</h1>
        <h3>GTD-based task manager</h3>
    </hgroup>

    <article>
        <header>Oops, something went wrong</header>
        <p>Status: <span th:text="${status}">500</span></p>
        <p>Error: <span th:text="${error}">Internal Server Error</span></p>
        <p th:if="${message}">
            Message: <span th:text="${message}"></span>
        </p>
        <footer>
            <a th:href="@{/admin/dashboard}">Go to the dashboard</a>
        </footer>
    </article>

</main>
</body>
</html>
