<!DOCTYPE html>
<html th:replace="~{admin/layout :: layout(~{::title}, ~{::main})}" lang="en">
<head>
    <title>Guad - Context Details</title>
</head>
<body>

<main class="main-content">
    <h1>Context Details</h1>

    <dl class="detail-list">
        <dt>Id</dt>
        <dd th:text="${context.id()}"></dd>
        <dt>Name</dt>
        <dd th:text="${context.name()}"></dd>
        <dt>Description</dt>
        <dd th:text="${context.description()}"></dd>
        <dt>Color</dt>
        <dd th:text="${context.color()}"></dd>
        <dt>Icon Key</dt>
        <dd th:text="${context.iconKey()}"></dd>
    </dl>
</main>

</body>
</html>
